- content_for :title, "#{@virtual_context.virtual_context_type.name} - #{@virtual_context.name}"
.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %table
        %tbody
          %tr
            %td{width: '150px'} Description:
            %td= @virtual_context.description
.row
  .small-12.large-12.columns
    %ul.button-group.right
      %li
        = link_to '<i class="fi-database"></i> All'.html_safe, virtual_contexts_path, class: 'tiny button'
      %li
        = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_virtual_context_path(@virtual_context), class: 'tiny button'
