.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %table{width: '100%'}
        %tbody
          %tr
            %td{width: '150px'} Order:
            %td= @extractor.order
          %tr
            %td{width: '150px'} Source:
            %td= @extractor.source
          %tr
            %td{width: '150px'} Key:
            %td= @extractor.key
.row
  .small-12.large-12.columns
    %ul.button-group.right
      %li
        = link_to '<i class="fi-database"></i> All'.html_safe, mapping_path(@extractor.mapping), class: 'tiny button'
      %li
        = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_extractor_path(@extractor), class: 'tiny button'
.row
  .small-12.large-12.columns
    %fieldset
      %legend Mappings
      = render 'mappings/table', mappings: @extractor.mappings
      = link_to '<i class="fi-page-add"></i> New Mapping'.html_safe, new_extractor_mapping_path(@extractor), class: 'right tiny button'
