%table{width: '100%'}
  %thead
    %tr
      %th Name
      %th Key
      %th Element
      %th{width: '100px'} Type
      %th{width: '35px'}
      %th{width: '35px'}
  %tbody
    - extractors.each do |extractor|
      %tr
        %td= link_to extractor.name, [extractor.partition, extractor]
        %td= extractor.key
        %td= extractor.element
        %td= extractor.type.gsub(/[A-Z]/, ' \0')
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_extractor_path(extractor), class: 'tiny secondary'
        %td= link_to '<i class="fi-x"></i>'.html_safe, [extractor.partition, extractor], method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny secondary'