= simple_form_for(@partner) do |f|
  = f.error_notification
  .actions
    = render 'layouts/form_buttons'
  .inputs
    %fieldset
      %legend Parameters
      .row
        .small-1.large-1.columns
          %label Active
          = f.input :active, wrapper_html: { class: 'switch' }
        .small-5.large-5.columns
          = f.input :name
        .small-6.large-6.columns
          = f.input :url
    %fieldset
      %legend Logo
      .row
        .small-12.large-12.columns
          = f.input :logo, as: :image_preview
  .actions
    = render 'layouts/form_buttons'
