- content_for :title, 'Partners'
%table{width: '100%'}
  %thead
    %tr
      %th{width: '65px'} Active
      %th{width: '100px'} Logo
      %th{width: '150px'} Name
      %th URL
      %th{width: '35px'}
  %tbody
    - @partners.each do |partner|
      %tr
        %td
          .switch.tiny
            %input{type: 'checkbox', id: partner.id, class: 'active-toggle', data: {url: toggle_active_partner_path(partner)}, checked: (:checked if partner.active)}
            %label{for: partner.id}
        %td
          %a.th{href: partner_path(partner)}
            %img{src: "#{partner.logo.url}"}
        %td= link_to partner.name, partner
        %td= partner.url
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_partner_path(partner), class: 'tiny secondary'
= link_to '<i class="fi-page-add"></i> New Partner'.html_safe, new_partner_path, class: 'right tiny button'
