- content_for :title, 'Partners'
%table{width: '100%'}
  %thead
    %tr
      %th Name
      %th URL
      %th Logo
      %th{width: '10px'}
      %th{width: '10px'}
  %tbody
    - @partners.each do |partner|
      %tr
        %td= link_to partner.name, partner
        %td= partner.url
        %td
          %a.th{href: '#'}
            %img{src: "#{partner.logo.url}"}
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_partner_path(partner), class: 'tiny secondary'
        %td= link_to '<i class="fi-x"></i>'.html_safe, partner, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny secondary'
= link_to '<i class="fi-page-add"></i> New Partner'.html_safe, new_partner_path, class: 'tiny button'
