%p#notice= notice
- content_for :title, "Partner - #{@partner.name}"
.row
  %fieldset
    %legend Parameters
    .small-12.large-12.columns
      %p URL: #{@partner.url}
.row
  %fieldset
    %legend Logo
    .small-12.large-12.columns
      %img{src: "#{@partner.logo.url}"}
= link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_partner_path(@partner), class: 'tiny button'