.row
  .small-3.large-3.columns
    %a.th{href: partner_path(@partner)}
      %img{src: "#{@partner.logo.url}"}
  .small-9.large-9.columns
    %h1= "Partner - #{@partner.name}"
.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %p URL: #{@partner.url}
.row
  .small-12.large-12.columns
    = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_partner_path(@partner), class: 'right tiny button'