- content_for :title, "Partner - #{@partner.name}"
.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %table
        %tbody
          %tr
            %td{width: '150px'} Logo:
            %td
              %img{src: "#{@partner.logo.url}"}
          %tr
            %td{width: '150px'} URL:
            %td= @partner.url
.row
  .small-12.large-12.columns
    %ul.button-group.right
      %li
        = link_to '<i class="fi-database"></i> All'.html_safe, partners_path, class: 'tiny button'
      %li
        = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_partner_path(@partner), class: 'tiny button'