.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %table
        %tbody
          %tr
            %td{width: '150px'} Key:
            %td= @transformer.key
          %tr
            %td{width: '150px'} Element:
            %td= @transformer.element
          %tr
            %td{width: '150px'} Attribute:
            %td= @transformer.attr
          %tr
            %td{width: '150px'} Prefix:
            %td= @transformer.prefix
          %tr
            %td{width: '150px'} Postfix:
            %td= @transformer.postfix
.row
  .small-12.large-12.columns
    %ul.button-group.right
      %li
        = link_to '<i class="fi-database"></i> All'.html_safe, mapping_path(@transformer.mapping), class: 'tiny button'
      %li
        = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_transformer_path(@transformer), class: 'tiny button'
