= simple_form_for [@transformer.mapping, @transformer] do |f|
  = f.error_notification
  .actions
    = render 'layouts/form_buttons'
  .inputs
    %fieldset
      %legend Parameters
      = f.input :mapping_id, as: :hidden
      = f.input :type, as: :hidden
      .row
        .small-12.large-12.columns
          = f.input :name
      .row
        .small-6.large-6.columns
          = f.input :key
        .small-6.large-6.columns
          = f.input :order_key, label: 'Order Key'
  .actions
    = render 'layouts/form_buttons'