- content_for :title, "#{@transformer.type.gsub(/[A-Z]/, ' \0')} Transformer - #{@transformer.name}"

- unless @transformer.type.eql? 'HasMany'
  .row
    .small-12.large-12.columns
      %fieldset
        %legend Test
        = simple_form_for '', :html=> { class: 'test-form' }, url: test_transformer_url(@transformer), remote: true do |f|
          .row
            .small-12.large-12.columns
              = f.label :url, 'URL'
              = f.text_field :url
          .row
            .small-12.large-12.columns
              = button_tag(type: 'submit', class: 'tiny button right') do
                <i class="fi-magnifying-glass"></i> Test
  #test-modal.reveal-modal{data: {reveal: ''}}
    .row
      .small-12.large-12.columns
        %fieldset
          %legend Result
          .test-result
            %h1.text-center No Result
    %a.close-reveal-modal
      &#215;

= render "#{@transformer.type.downcase}"