= simple_form_for(@application) do |f|
  = f.error_notification
  .inputs
    .row
      .small-5.large-5.columns
        = f.input :name
        %p Key: #{@application.key}
      .small-7.large-7.columns
        = f.association :categories, as: :check_boxes, wrapper_html: { class: 'checkbox_container' }
  .actions
    = button_tag(type: 'submit', class: 'main-button') do
      <i class="foundicon-checkmark"></i> Save
    = link_to '<i class="foundicon-error"></i> Cancel'.html_safe, :back, class: 'main-button'