%h1 Applications
%table
  %thead
    %tr
      %th Name
      %th Key
      %th
      %th
  %tbody
    - @applications.each do |application|
      %tr
        %td= link_to application.name, application
        %td= application.key
        %td= link_to '...', edit_application_path(application), class: 'tiny button radius'
        %td= link_to 'X', application, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny button radius'
%br/
= link_to 'New Application', new_application_path, class: 'button radius'
