%h1 Applications
%table
  %thead
    %tr
      %th Name
      %th Key
      %th
      %th
  %tbody
    - @applications.each do |application|
      %tr
        %td= link_to application.name, application
        %td= application.key
        %td= link_to '<i class="foundicon-edit"></i>'.html_safe, edit_application_path(application), class: 'secondary-button'
        %td= link_to '<i class="foundicon-remove"></i>'.html_safe, application, method: :delete, data: { confirm: 'Are you sure?' }, class: 'secondary-button'
= link_to '<i class="foundicon-add-doc"></i> New Applaction'.html_safe, new_application_path, class: 'main-button'