= simple_form_for(@topic) do |f|
  = f.error_notification
  .actions
    = render 'layouts/form_buttons'
  .inputs
    %fieldset
      %legend Read Only Parameters
      .row
        .small-12.large-12.columns
          Key: #{@topic.key}
    %fieldset
      %legend Parameters
      .row
        .small-1.large-1.columns
          %label Active
          = f.input :active, wrapper_html: { class: 'switch' }
        .small-11.large-11.columns
          = f.input :name
  .actions
    = render 'layouts/form_buttons'