= simple_form_for(@topic) do |f|
  = f.error_notification
  .inputs
    .row
      .small-12.large-12.columns
        %fieldset
          %legend Read Only Parameters
          Key: #{@topic.key}
        %fieldset
          %legend Parameters
          = f.input :name
  .actions
    = render 'layouts/form_buttons'