%table{width: '100%'}
  %thead
    %tr
      %th{width: '65px'} Active
      %th{width: '200px'} Name
      %th{width: '150px'} Topic Group
      %th Displayed Name
      -if orderable
        %th{width: '35px'}
        %th{width: '35px'}
      %th{width: '35px'}
  %tbody
    - topics.each do |topic|
      %tr
        %td
          .switch.tiny
            %input{type: 'checkbox', id: topic.id, class: 'active-toggle', data: {url: toggle_active_topic_path(topic)}, checked: (:checked if topic.active)}
            %label{for: topic.id}
        %td= link_to topic.name, topic
        %td= link_to topic.topic_group.name, topic.topic_group if topic.topic_group
        %td= topic.displayed_name
        -if orderable
          %td= link_to '<i class="fi-arrow-up"></i>'.html_safe, '', class: 'tiny secondary table-up', data: {url: move_up_topic_path(topic)}
          %td= link_to '<i class="fi-arrow-down"></i>'.html_safe, '', class: 'tiny secondary table-down', data: {url: move_down_topic_path(topic)}
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_topic_path(topic), class: 'tiny secondary'
