- content_for :title, 'Topics'
%table
  %thead
    %tr
      %th Name
      %th Key
      %th
      %th
  %tbody
    - @topics.each do |topic|
      %tr
        %td= link_to topic.name, topic
        %td= topic.key
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_topic_path(topic), class: 'secondary-button'
        %td= link_to '<i class="fi-x"></i>'.html_safe, topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'secondary-button'
= link_to '<i class="fi-page-add"></i> New Topic'.html_safe, new_topic_path, class: 'main-button'