<div class="nested-fields">
  <%= f.input :caption, input_html: {class: 'autocomplete',
                                                 'data-url' => autocomplete_description_caption_values_path} %>
  <%= f.input :text %>
  <%= f.input :red %>
  <%= f.input :bold %>
  <%= f.input :order %>
  <%= link_to_remove_association 'remove description', f %>
</div>