<%= simple_form_for(@value) do |f| %>
  <% if @value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@value.errors.count, "error") %> prohibited this value from being saved:</h2>

      <ul>
      <% @value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :old_price %>
    <%= f.text_field :old_price %>
    <%= f.label :discount %>
    <%= f.text_field :discount %>
    <%= f.label :new_price %>
    <%= f.text_field :new_price %>
    <%= f.input :end_date, :as => :datepicker %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>

    Descriptions:<br>
    <div id="descriptions">
        <%= f.simple_fields_for :descriptions do |description| %>
            <%= render 'description_fields', :f => description %>
        <% end %>

        <%= link_to_add_association 'add description', f, :descriptions %>
    </div>

    <%= f.submit %>
  </div>
<% end %>
