<%= form_for(@value) do |f| %>
  <% if @value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@value.errors.count, "error") %> prohibited this value from being saved:</h2>

      <ul>
      <% @value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :old_price %>
    <%= f.text_field :old_price %>
    <%= f.label :discount %>
    <%= f.text_field :discount %>
    <%= f.label :new_price %>
    <%= f.text_field :new_price %>
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit %>
  </div>
<% end %>
