%table{width: '100%'}
  %thead
    %tr
      %th{width: '65px'} Active
      %th{width: '100px'} Thumb
      %th{width: '150px'} Name
      %th Category
      %th{width: '100px'} Old Price
      %th{width: '100px'} Discount
      %th{width: '100px'} New Price
      %th{width: '35px'}
  %tbody
    - values.each do |value|
      %tr
        %td
          .switch.tiny
            %input{type: 'checkbox', id: value.id, class: 'active-toggle', data: {url: toggle_active_value_path(value)}, checked: (:checked if value.active)}
            %label{for: value.id}
        %td
          %a.th{href: value_path(value)}
            %img{src:"#{value.thumb if value.thumb}"}
        %td= link_to value.name, value
        %td= link_to value.category.name, value.category if value.category
        %td= value.old_price
        %td= value.discount
        %td= value.new_price
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_value_path(value), class: 'tiny secondary'
