%table{width: '100%'}
  %thead
    %tr
      %th Name
      %th Thumb
      %th Category
      %th Old Price
      %th Discount
      %th New Price
      %th End Date
      %th Active
      %th URL
      %th{width: '10px'}
      %th{width: '10px'}
  %tbody
    - values.each do |value|
      %tr
        %td= link_to value.name, value
        %td
          %a.th{href: '#'}
            %img{src:"#{value.thumb if value.thumb}"}
        %td= link_to value.category.name, value.category if value.category
        %td= value.old_price
        %td= value.discount
        %td= value.new_price
        %td= value.end_date
        %td= value.active
        %td= value.url
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_value_path(value), class: 'tiny secondary'
        %td= link_to '<i class="fi-x"></i>'.html_safe, value, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny secondary'
