<h1>Listing values</h1>

<div class="row">
  <div class="small-12 large-12 columns">
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Old Price</th>
        <th>Discount</th>
        <th>New Price</th>
        <th>End Date</th>
        <th>URL</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @values.each do |value| %>
          <tr>
            <td><%= link_to value.name, value %></td>
            <td><%= value.old_price %></td>
            <td><%= value.discount %></td>
            <td><%= value.new_price %></td>
            <td><%= value.end_date %></td>
            <td><%= value.url %></td>
            <td><%= link_to 'Show', value %></td>
            <td><%= link_to 'Edit', edit_value_path(value) %></td>
            <td><%= link_to 'Destroy', value, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Value', new_value_path %>
