<p id="notice"><%= notice %></p>

Name: <%= @value.name %><br>
Old Price: <%= @value.old_price %><br>
Discount: <%= @value.discount %><br>
New Price: <%= @value.new_price %><br>
End Date: <%= @value.end_date %><br>
URL: <%= @value.url %><br>

<%= link_to 'Edit', edit_value_path(@value) %> |
<%= link_to 'Back', values_path %>
