- content_for :title, "Value - #{@value.name}"
.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %table{width: '100%'}
        %tbody
          %tr
            %td{width: '150px'} Thumb:
            %td
              %img{src: "#{@value.thumb}"}
          %tr
            %td{width: '150px'} Category:
            %td= link_to @value.category.name, @value.category
          %tr
            %td{width: '150px'} Old price:
            %td= @value.old_price
          %tr
            %td{width: '150px'} Discount:
            %td= @value.discount
          %tr
            %td{width: '150px'} New price:
            %td= @value.new_price
          %tr
            %td{width: '150px'} Source URL:
            %td= link_to @value.source, @value.source, target: '_blank'
          %tr
            %td{width: '150px'} URL:
            %td= link_to @value.url, @value.url, target: '_blank'
.row
  .small-12.large-12.columns
    %ul.button-group.right
      %li
        = link_to '<i class="fi-database"></i> All'.html_safe, category_path(@value.category), class: 'tiny button'
      %li
        = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_value_path(@value), class: 'tiny button'
.row
  .small-5.large-5.columns
    %fieldset
      %legend Promos
      %ul{data: ({orbit: ''} unless @value.promos.empty?)}
        - @value.promos.each do |promo|
          -if promo.active?
            %li
              %img{src: "#{promo.image.url}"}
  .small-7.large-7.columns
    %fieldset
      %legend Descriptions
      %table{width: '100%'}
        %tbody
          - @value.descriptions.each do |description|
            -if description.active?
              %tr
                -unless description.caption.blank?
                  %td #{description.caption}
                %td{colspan: (2 if description.caption.blank?)} #{description.text}
