-if f.object.active?
  .nested-fields
    = f.input :order, as: :hidden
    .row
      .small-6.large-6.columns
        = f.input :caption
      .small-3.large-3.columns
        %label Bold
        = f.input :bold, wrapper_html: { class: 'switch' }
      .small-3.large-3.columns
        %label Red
        = f.input :red, wrapper_html: { class: 'switch' }
    .row
      .small-12.large-12.columns
        = f.input :text
    .row
      .small-12.large-12.columns
        %ul.button-group.right
          %li
            = link_to '<i class="fi-arrow-up"></i>'.html_safe, '', class: 'tiny secondary up'
          %li
            = link_to '<i class="fi-arrow-down"></i>'.html_safe, '', class: 'tiny secondary down'
          %li
            = link_to_remove_association '<i class="fi-x"></i>'.html_safe, f, class: 'tiny secondary'
    %hr