.nested-fields.row
  = f.input :order, as: :hidden
  .small-12.large-12.columns
    = f.input :image, as: :image_preview
  .small-12.large-12.columns
    = link_to '<i class="fi-arrow-up"></i>'.html_safe, '', class: 'secondary-button up'
    = link_to '<i class="fi-arrow-down"></i>'.html_safe, '', class: 'secondary-button down'
    = link_to_remove_association '<i class="fi-x"></i>'.html_safe, f, class: 'secondary-button'