= simple_form_for(@miner) do |f|
  = f.error_notification
  .actions
    = render 'layouts/form_buttons'
  .inputs
    %fieldset
      %legend Parameters
      .row
        .small-7.large-7.columns
          = f.input :name
        .small-5.large-5.columns
          - categories = Category.all - Miner.all.map { |m| m.category }
          - categories += [@miner.category] if @miner.category
          = f.association :category, collection: categories, label_method: :name, value_method: :id
  .actions
    = render 'layouts/form_buttons'