- content_for :title, 'Miners'
%table{width: '100%'}
  %thead
    %tr
      %th Name
      %th Category
      %th{width: '35px'}
      %th{width: '35px'}
  %tbody
    - @miners.each do |miner|
      %tr
        %td= link_to miner.name, miner
        %td= link_to miner.category.name, miner.category if miner.category
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_miner_path(miner), class: 'tiny secondary'
        %td= link_to '<i class="fi-x"></i>'.html_safe, miner, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny secondary'
= link_to '<i class="fi-page-add"></i> New Miner'.html_safe, new_miner_path, class: 'right tiny button'