= simple_form_for(@category) do |f|
  = f.error_notification
  .inputs
    .row
      .small-5.large-5.columns
        = f.input :name
  .actions
    = button_tag(type: 'submit', class: 'main-button') do
      <i class="foundicon-checkmark"></i> Save
    = link_to '<i class="foundicon-error"></i> Cancel'.html_safe, :back, class: 'main-button'