%table{width: '100%'}
  %thead
    %tr
      %th{width: '65px'} Active
      %th{width: '200px'} Name
      %th{width: '150px'} Topic
      %th Displayed Name
      -if orderable
        %th{width: '35px'}
        %th{width: '35px'}
      %th{width: '35px'}
      %th{width: '35px'}
  %tbody
    - categories.each do |category|
      %tr
        %td
          .switch.tiny
            %input{type: 'checkbox', id: category.id, class: 'active-toggle', data: {url: toggle_active_category_path(category)}, checked: (:checked if category.active)}
            %label{for: category.id}
        %td= link_to category.name, category
        %td= link_to category.topic.name, category.topic
        %td= category.displayed_name
        -if orderable
          %td= link_to '<i class="fi-arrow-up"></i>'.html_safe, '', class: 'tiny secondary table-up', data: {url: move_up_category_path(category)}
          %td= link_to '<i class="fi-arrow-down"></i>'.html_safe, '', class: 'tiny secondary table-down', data: {url: move_down_category_path(category)}
        %td= link_to '<i class="fi-x"></i>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny secondary'
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_category_path(category), class: 'tiny secondary'
