- content_for :title, "Category - #{@category.name}"
.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %table{width: '100%'}
        %tbody
          %tr
            %td{width: '150px'} Topic:
            %td= link_to @category.topic.name, @category.topic
          %tr
            %td{width: '150px'} Displayed Name:
            %td= @category.displayed_name
.row
  .small-12.large-12.columns
    %ul.button-group.right
      %li
        = link_to '<i class="fi-database"></i> All'.html_safe, topic_path(@category.topic), class: 'tiny button'
      %li
        = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_category_path(@category), class: 'tiny button'
.row
  .small-12.large-12.columns
    %fieldset
      %legend Values
      = render 'values/table', values: @category.values
