%p#notice= notice
- content_for :title, "Category - #{@category.name}"
.row
  %fieldset
    %legend Parameters
    .small-6.large-6.columns
      %p
        Topic:
        = link_to @category.topic.name, @category.topic
    .small-6.large-6.columns
      %p Displayed Name: #{@category.displayed_name}
= link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_category_path(@category), class: 'right tiny button'
.row
  %fieldset
    %legend Values
    .small-12.large-12.columns
      = render 'values/table', values: @category.values
      = simple_form_for '', url: create_from_url_category_values_url(@category) do |f|
        .row.collapse
          .small-10.large-10.columns
            = f.text_field :url
          .small-2.large-2.columns
            = button_tag(type: 'submit', class: 'tiny button postfix') do
              <i class="fi-page-add"></i> New Value From Url
      = link_to '<i class="fi-page-add"></i> New Value'.html_safe, new_category_value_path(@category), class: 'right tiny button'
