= simple_form_for(@topic_group) do |f|
  = f.error_notification
  .actions
    = render 'layouts/form_buttons'
  .inputs
    %fieldset
      %legend Read Only Parameters
      .row
        .small-12.large-12.columns
          %table{width: '100%'}
            %tbody
              %tr
                %td{width: '150px'} Key:
                %td= @topic_group.key
    %fieldset
      %legend Parameters
      .row
        .small-1.large-1.columns
          %label Active
          = f.input :active, wrapper_html: { class: 'switch' }
        .small-11.large-11.columns
          = f.input :name
  .actions
    = render 'layouts/form_buttons'