- content_for :title, 'Topic Groups'
%table{width: '100%'}
  %thead
    %tr
      %th{width: '65px'} Active
      %th{width: '150px'} Name
      %th Topics
      %th Key
      %th{width: '35px'}
      %th{width: '35px'}
      %th{width: '35px'}
      %th{width: '35px'}
  %tbody
    - @topic_groups.each do |topic_group|
      %tr
        %td
          .switch.tiny
            %input{type: 'checkbox', id: topic_group.id, class: 'active-toggle', data: {url: toggle_active_topic_group_path(topic_group)}, checked: (:checked if topic_group.active)}
            %label{for: topic_group.id}
        %td= link_to topic_group.name, topic_group
        %td
          -topic_group.topics.each do |topic|
            = link_to topic.name, topic
            %br
        %td= topic_group.key
        %td= link_to '<i class="fi-arrow-up"></i>'.html_safe, '', class: 'tiny secondary table-up', data: {url: move_up_topic_group_path(topic_group)}
        %td= link_to '<i class="fi-arrow-down"></i>'.html_safe, '', class: 'tiny secondary table-down', data: {url: move_down_topic_group_path(topic_group)}
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_topic_group_path(topic_group), class: 'tiny secondary'
        %td= link_to '<i class="fi-x"></i>'.html_safe, topic_group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny secondary'
= link_to '<i class="fi-page-add"></i> New Topic Group'.html_safe, new_topic_group_path, class: 'right tiny button'