- content_for :title, "Topic Group - #{@topic_group.name}"
.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %table{width: '100%'}
        %tbody
          %tr
            %td{width: '150px'} Key:
            %td= @topic_group.key
.row
  .small-12.large-12.columns
    %ul.button-group.right
      %li
        = link_to '<i class="fi-database"></i> All'.html_safe, topic_groups_path, class: 'tiny button'
      %li
        = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_topic_group_path(@topic_group), class: 'tiny button'
.row
  .small-12.large-12.columns
    %fieldset
      %legend Topics
      = render 'topics/table', topics: @topic_group.topics, orderable: true
      = link_to '<i class="fi-page-add"></i> New Topic'.html_safe, new_topic_group_topic_path(@topic_group), class: 'right tiny button'
