.fixed
  %nav.top-bar{data: {topbar: ''}}
    %ul.title-area
      %li.name
        %h1
          %a{href:"#{root_path}"}
            <i class="fi-lightbulb"></i>ankaa
      %li.toggle-topbar.menu-icon
        %a{href: '#'}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li.divider
        -if params[:controller] =~ /(topic_groups|topics|categories|values|partners)/
          =render 'layouts/content_menu'
        -else
          %li.has-dropdown
            %a{href: '#'} Content
            %ul.dropdown
              =render 'layouts/content_menu'

        %li.divider

        -if params[:controller] =~ /(virtual_contexts|events|crash_reports)/
          =render 'layouts/statistic_menu'
        -else
          %li.has-dropdown
            %a{href: '#'} Statistic
            %ul.dropdown
              =render 'layouts/statistic_menu'

        %li.divider

        -if params[:controller] =~ /(miners|scrapers|miner_scapers|partitions|extractors)/
          =render 'layouts/magic_menu'
        -else
          %li.has-dropdown
            %a{href: '#'} Magic
            %ul.dropdown
              =render 'layouts/magic_menu'

        %li.divider
    %section.top-bar-section
      %ul.right
        %li.divider
        %li
          = link_to "Devices: #{Device.count}", '#'
        %li.divider
        %li
          = link_to "Sessions: #{Session.count}", '#'
        %li.divider
        %li
          = link_to '<i class="fi-power"></i> Log Out'.html_safe, destroy_user_session_path, method: :delete