%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{href:"#{root_path}"}
          <i class="fi-lightbulb"></i>ankaa
    %li.toggle-topbar.menu-icon
      %a{href: '#'}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
      %li{class: ('active' if params[:controller] == 'topics')}
        = link_to '<i class="fi-list-thumbnails"></i> Topics'.html_safe, topics_path
      %li.divider
      %li{class: ('active' if params[:controller] == 'categories')}
        = link_to '<i class="fi-folder"></i> Categories'.html_safe, categories_path
      %li.divider
      %li{class: ('active' if params[:controller] == 'values')}
        = link_to '<i class="fi-shopping-cart"></i> Values'.html_safe, values_path
      %li.divider
      %li{class: ('active' if params[:controller] == 'partners')}
        = link_to '<i class="fi-dollar"></i> Partners'.html_safe, partners_path
      %li.divider
  %section.top-bar-section
    %ul.right
      %li
        = link_to '<i class="fi-power"></i> Log Out'.html_safe, destroy_user_session_path, method: :delete